@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
  background-image: url(https://giffiles.alphacoders.com/220/220117.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: "italian";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 2;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  text-align: center;
  color: black;
  animation: fadeInZoom 2s ease-in-out;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  text-align: center;
  color: black;
  animation: fadeInZoom 2s ease-in-out;
}

@keyframes fadeInZoom {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}
/* styling my button */

.white-mode {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 12px 25px;
  background-color: transparent; /* make button transparent */
  border: 2px solid #FFF; /* add border to make button visible */
  border-radius: 25px;
  color: #FFF;
  transition: all .3s ease-in-out;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  animation: fadeInZoom 4.5s ease-in-out;
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
  transform: scale(1.1);
}

@keyframes fadeInZoom {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}
