@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
  background-image: url(https://media.tenor.com/BIsmK8KXdKIAAAAC/waves-wave.gif);
  background-size:cover;
  background-repeat: no-repeat;
     
  
}

.title {
  font-family: "italian";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height:2
}

h1 {
  background-image: url(https://im5.ezgif.com/tmp/ezgif-5-4ad43aa89d.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;
}

h2 {
  background-color: black;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size:55px;
  margin: 10px 0;
}

/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  middle: 12px;
  font-family: "Montserrat";
  text-align: center;
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}
